button,
input[type="text"] {
  padding: 5px;
  margin: 2px 0px;
}

input.poll_title {
  margin: 10px 0px;
}

a,
a:visited
a:active {
  color: #258fb8;
}

a:hover {
  color: black;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
}

th {
  color: white;
  background-color: black;
  border: 1px solid #eeeeee;
}

tr:nth-child(odd){
  background-color: #dddddd;
}

tr:hover {
  background-color: #258fb8;
}


.content {
  width: 75%;
  margin: 0 auto;
  background-color: #eeeeee;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.remove_option,
.add_option {
  width: 30px;
  font-weight: bold;
  border: 1px solid grey;
}

.remove_option {
  background-color: maroon;
  color: white;
}

.add_option {
  background-color: green;
  color: white;
}

.option_line {
  display: flex;
}

.poll_option {
  flex: 2;
}

.poll_link {
  text-align: center;
}

.buttons_container {
  margin: 10px 0px;
  text-align: center;
}

.cast_vote {
  width: 100%;
}
